@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sixtyfour+Convergence&display=swap');
/* This is a CSS coment */
/* Select by element TYPE */




body{
    font-family: "Sixtyfour Convergence", sans-serif;
    background-color:rgb(229, 244, 242);
}
p{
    color: rgb(46, 182, 143) ;
}
h1, h2, h3,h4,h5,h6, p {
    font-family: "Oswald", sans-serif;
    
}

/* Select by CLASS name */
.border {
    border: 2px solid black;
    
}

/* select by ID name (unique) */
#intro {
    background-color: light green; 
}

li{
    color:rgb(11, 183, 183);
}
ol{
    color: aqua
}

/* Properties: colors and typography*/
    
strong{
    color:crimson;
    background-color:rgba(238, 238, 245, 0.012);
    font-weight:900;
    font-style:impact
}

h1{
    text-align:center
}