/* This is a CSS coment */
/* Select by element TYPE */
p{
    Color: rgb(46, 182, 143) ;
}
h1, h2, h3 {
    font-family: sans-serif;
}

/* Select by CLASS name */
.border {
    border: 2px solid black;
}

/* select by ID name (unique) */
#intro {
    background-color: light green; 
}

li{
    color:rgb(11, 183, 183);
}
ol{
    color: aqua
}